<div class="container-fluid">
            <div class="row">
                <div class="container section-header">
                    <div>
                        <div class="circular">ERS</div>
                        <h2 class="section-content" align="center">Enterprise Risk Solutions</h2>
                        <h4 class="section-content" align="center">Reliable delivery of our top in class economic research and valuations to serve the evolving finance industry.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container section-content">
                    <div id="creditedge" class="product">
                        <div class="circular product-circular align-mid">CMM</div>
                        <div class="product-container">
                            <div class="row row-product-info">
                                <div class="col-lg-6 col-md-3">
                                    <div class="product-header">
                                        <p class="product-header">The leading analytical tool for assessing default and recovery for commercial real estate (CRE) loans.</p>
                                        <h2 class="product-header">CMM</h2>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="product-content">
                                        <p class="product-content">The Commercial Mortgage Metrics (CMM) solution is the leading analytical tool for combining property performance forecasts with commercial mortgage fundamentals to assess default and recovery for commercial real estate (CRE) mortgages. It enables investment professionals to perform robust analyses for equity and debt decisions in CRE.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-12 col-sm-4 col-sm-12 col-sm-12">
                                    <div class="btn" routerLink="/cmm-perspective">Perspectives</div>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-4 col-sm-12 col-sm-12">
                                    <div class="btn btn-inverted" onclick="window.open('http://www.moodysanalytics.com/product-list/cmm-commercial-mortgage-metrics')">Learn More</div>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-4 col-sm-12 col-sm-12">
                                    <div class="btn btn-inverted" onclick="window.open('http://www.moodysanalytics.com/~/media/products/moodys-analytics-product-cmm-commercial-mortgage-metrics-brochure.pdf')">Download Brochure</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div id="creditview" class="product">
                        <div class="circular product-circular align-mid">CV2</div>
                        <div class="product-container">
                            <div class="row row-product-info">
                                <div class="col-lg-6 col-md-3">
                                    <div class="product-header">
                                        <h4 class="product-header">A Powerful Approach to Measuring Credit Risk.</h4>
                                        <h2 class="product-header">CreditView 2</h2>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="sub-product">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h4 class="sub-product-header">Capital Structure</h4>
                                                <div> 
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet lacinia purus. Nulla facilisi. Aliquam id semper quam.
                                                    <div class="row">
                                                        <div class="col-lg-4"></div>
                                                        <div class="col-lg-4">
                                                            <div class="btn btn-inverted" onclick="location.href='http://ci2.moodys.com:8080/credit-ratings/Tullow-Oil-plc-credit-rating-820489619';">Learn More</div>
                                                            </div>
                                                        <div class="col-lg-4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <h4 class="sub-product-header">Issuer View</h4>
                                                <div> 
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet lacinia purus. Nulla facilisi. Aliquam id semper quam.   
                                                    <div class="row">
                                                        <div class="col-lg-4"></div>
                                                        <div class="col-lg-4">
                                                            <div class="btn btn-inverted" onclick="location.href='http://ci2.moodys.com:8080/credit-ratings/Tullow-Oil-plc-credit-rating-820489619';">Learn More</div>
                                                            </div>
                                                        <div class="col-lg-4"></div>
                                                    </div>
                                                </div>
                                            </div>                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div id="sav" class="product">
                        <div class="circular product-circular align-mid">SA</div>
                        <div class="product-container">
                            <div class="row row-product-info">
                                <div class="col-lg-6 col-md-3">
                                    <div class="product-header">
                                        <h4 class="product-header">A robust software platform that centralizes administration and execution of regulatory stress testing </h4>
                                        <h2 class="product-header">Scenario Analyzer</h2>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="product-content">Scenario Analyzer enables financial institutions to implement transparent, repeatable, and auditable stress testing processes that integrate data, models, and reports. It allows banks to facilitate end-to-end bank-wide stress testing and capital planning exercises, with a workflow to orchestrate and review data ahead of regulatory submissions (such as for CCAR, DFAST, EBA, and PRA).</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-12 col-sm-4 col-sm-12 col-sm-12">
                                    <div class="btn" routerLink="/sa-perspective">Perspectives</div>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-4 col-sm-12 col-sm-12">
                                    <div class="btn  btn-inverted" onclick="window.open('http://www.moodysanalytics.com/product-list/scenario-analyzer')">Learn More</div>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-4 col-sm-12 col-sm-12">
                                    <div class="btn btn-inverted"  onclick="window.open('http://www.moodysanalytics.com/~/media/products/moodys-analytics-product-scenario-analyzer-brochure.pdf')">Download Brochure</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>