@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}
body {
    background-color:#f7f7f7;
    margin: 0;
    margin-bottom: 80px;
    font-family: "Open Sans";
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
}
.btn-main-custom-container {
    margin-top:50px;
}
.btn-main-custom {
    text-align: center;
    cursor: pointer;
    line-height: 80px;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    border: 2px solid black;
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
    max-width: 200px;
    margin: 0 auto;
}
.btn-main-custom:after {
    content: '';
    width: 0;
    position: absolute;
    -webkit-transition: .2s;
    transition: .2s;
    background: black;
    left: 50%;
    bottom: 0;
    height: 5px;
}
.btn-main-custom:hover:after {
    width: 100%;
    left: 0;
    left: 0;
}
div.section-header {
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 0px 0px 10px 10px;
}
.btn {
    background-color: #0066B3;
    color: white;
    border-style: outset;
    outline: none;
    min-height:35px;
}
.btn:hover, .btn:active, .btn:focus {
    background-color: #1975ba;
    color:white;
    outline: none;
    border-style: outset;
}
.btn-inverted {
    background-color: transparent;
    color: #0066B3;
    border: solid 1px #0066B3;
    border-style: outset;
    outline: none;
    min-height:35px;
}
.btn-inverted:hover, .btn-inverted:active, .btn-inverted:focus {
    background-color: #cce0ef;
    color:#0066B3;
    outline: none;
    border-style: outset;
}
div.circular {
    width: 100px;
    height: 100px;
    background-color: #0066B3;
    color: white;
    margin: 0 auto;
    text-align:center;
    line-height:100px;
    font-size:25px;
    font-family: "Open Sans";
    margin-bottom:20px;
    -webkit-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
    box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
    z-index:1;
    border-radius:50%;
}
div.product-circular {
    left:50%;
    margin-left:-40px;
    margin-top:-30px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 18px;
    position:absolute;
}
div.product {
    background-color:white;
    margin-bottom: 70px;
    border-radius: 10px;
    position: relative;
}
.vertical-middle {
    vertical-align: middle;
}
.horizontal-middle {
    text-align: center;
}
.product-padding {
    padding: 15px;
    vertical-align: middle;
}
.product-header-title {
    padding: 15px 15px 0 15px;
}
div.product-container {
    padding: 55px;
}
h2.product-header {
    font-size: 32px;
    color: black;
    font-weight: lighter;
}
h5.product-header {
    font-size: 17px;
    color: #0066B3;
    font-weight: bold;
}
p.product-header {
    font-size: 16px;
}
div.product-content {
    top: 50%;
}
p.product-content {
    font-size: 18px;
}
.sub-product {
    padding: 0 30px 30px;
}
h4.sub-product-header {
    color:black;
    font-weight:bold;
}
div.sub-product-content {
    padding: 0px;
    word-wrap: break-word;
    padding:10px;
}
div.row-product-info {
    margin-bottom:20px;
}
div.left-nav-menu {
    position: fixed;
    top:50%;
    transform: translateY(-50%);
}
ul.left-nav-menu {
    font-size: 16px;
    line-height: 50px;
    padding: 0;
    list-style-type: none;
}
.zoomimg {
    transition: all .2s ease;
}
.zoomimg:hover {
    -webkit-transform: scale(1.2);
}
a.left-nav-menu {
    text-decoration: none; 
    font-family: "Open Sans";
}
a.left-nav-menu-disabled {
    color:gray;
}
p.product-info {
    font-size: 15px;
}
.navbar-default {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}
div.section-content {
    margin-top: 70px;
    padding: 0px;
}
h2.section-content {
    max-width:600px;
    margin:0 auto;
    font-family: "Open Sans";
    margin-bottom:20px;
    font-weight:300;
}
h4.section-content {
    font-family: "Open Sans";
    margin:0 auto;
    max-width:600px;
    font-weight:300;
}
div.tech-icon {
    margin-top: 10px;
    text-align: center;
}
i.tech-icon {
    font-size: 40px;
    color: #0066B3;
    margin: 10px;
}
div.sub-tech-icon {
    margin-top: 10px;
}
i.sub-tech-icon {
    font-size: 35px;
    color: #0066B3;
    margin: 0px 10px 0px 0px;
}
div.router-container {
    margin-bottom: 25px;
}
img.regular-image {
    -webkit-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
    box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
}

/* Begin - Language stack*/
.overall-summary {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #dfe2e5;
    border-radius: 3px;
}

.overall-summary-bottomless {
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}

.stats-switcher-viewport {
    height: 41px;
    /*overflow: hidden;*/
}

.stats-switcher-viewport .stats-switcher-wrapper {
    position: relative;
    top: 0;
    -webkit-transition: top 0.25s ease-in-out;
    transition: top 0.25s ease-in-out;
}

.repository-lang-stats {
    position: relative;
}

.repository-lang-stats ol.repository-lang-stats-numbers li {
    display: table-cell;
    width: 1%;
    padding: 10px 5px;
    text-align: center;
    white-space: nowrap;
    border-bottom: 0;
}

.repository-lang-stats ol.repository-lang-stats-numbers li>span {
    font-weight: 600;
    color: #6a737d;
    text-decoration: none;
}

.repository-lang-stats ol.repository-lang-stats-numbers li .language-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.repository-lang-stats ol.repository-lang-stats-numbers li .lang {
    color: #24292e;
}

.repository-lang-stats ol.repository-lang-stats-numbers li span.percent {
    float: none;
}

.repository-lang-stats-graph {
    display: table;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.repository-lang-stats-graph .language-color {
    display: table-cell;
    line-height: 8px;
    text-indent: -9999px;
}
/* End - Language stack*/

/* START - TECH STACK*/

.logos {
    /*margin: 30px 0 35px;*/
    padding: 35px 0 50px;
}

.grid {
    list-style: none;
    margin-left: -25px;
    margin-bottom: -25px;
}

.grid .grid-col {
    width: 12.5%;
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
    padding-left: 25px;
    margin-bottom: 25px;
    vertical-align: top;
}

.logos .grid .logo:hover {
    text-decoration: none;
}

.logos .grid .logo-wrapper {
    overflow: hidden;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 4px 10px 0 rgba(189, 208, 223, .25);
    transition: transform 100ms ease-out;
}

.logos .grid .logo-container {
    position: relative;
}

.logos .grid .logo-name {
    border-top: 1px solid #ebeef1;
    display: block;
    line-height: 1.6;
    color: #737b87;
    padding: 10px 5px 12px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 100ms ease-out;
}

.logos .grid .logo-img {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
}

.logos .grid .logo-container:after {
    padding-top: 85%;
    padding-top: calc(100% - 40px);
    display: block;
    content: '';
}

.js-color {
    background-color:#563d7c;
}

.css-color {
    background-color:#f1e05a;
}

.csharp-color {
    background-color:#2b7489;
}

.html-color {
    background-color:#e34c26;
}

.percent100 {
    width: 100%;
}

.percent75 {
    width: 75%;
}

.percent50 {
    width: 50%;
}

.percent25 {
    width: 25%;
}

.percent10 {
    width: 10%;
}

.percent5 {
    width: 5%;
}

/* END - TECH STACK*/

.m-t-5 {
    margin-top: 5px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-70 {
    margin-top: 70px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-70 {
    margin-bottom: 70px;
}

figure {
    text-align: center;
    margin: 0;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.shadow {
    -moz-box-shadow: 0 45px 30px -26px #b2b2b2;
    -webkit-box-shadow: 0 45px 30px -26px #b2b2b2;
    -o-box-shadow: 0 45px 30px -26px #b2b2b2;
    -ms-box-shadow: 0 45px 30px -26px #b2b2b2;
    box-shadow: 0 45px 30px -26px #b2b2b2;
}

.container-mp {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-mp:before, .container-mp:after {
    content: " ";
    display: table;
}

.two-col-wrap {
    position: relative;
    display: table;
    width: 100%;
}
.two-col-wrap [class*="col-"] {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.row-m {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.bookmark {
    color: #029AE1;
    font-weight: 600;
    text-transform: uppercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.ma-blue-bg {
    background-color: #029AE1 !important;
}