@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  position: relative;
  min-height: 100%;
}
body {
    background-color:#f7f7f7;
    margin: 0;
    margin-bottom: 80px;
    font-family: "Open Sans";
}
.btn-main-custom-container {
    margin-top:50px;
}
.btn-main-custom {
    text-align: center;
    cursor: pointer;
    line-height: 80px;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    border: 2px solid black;
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
}
.btn-main-custom:after {
    content: '';
    width: 0;
    position: absolute;
    -webkit-transition: .2s;
    transition: .2s;
    background: black;
    left: 50%;
    bottom: 0;
    height: 5px;
}
.btn-main-custom:hover:after {
    width: 100%;
    left: 0;
}
div.circular {
    border-radius:50%;
}
div.section-header {
    background-color:#dedede;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 0px 0px 10px 10px;
}
.btn {
    background-color: #0066B3;
    color: white;
    border-style: outset;
    outline: none;
    min-height:35px;
}
.btn:hover, .btn:active, .btn:focus {
    background-color: #1975ba;
    color:white;
    outline: none;
    border-style: outset;
}
div.circular {
    width: 100px;
    height: 100px;
    background-color: #0066B3;
    color: white;
    margin: 0 auto;
    text-align:center;
    line-height:100px;
    font-size:25px;
    font-family: "Open Sans";
    margin-bottom:20px;
    -webkit-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
    box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.7);
    z-index:1;
}
div.product-circular {
    left:50%;
    margin-left:-40px;
    margin-top:-25px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 18px;
    position:absolute;
}
div.product {
    background-color:white;
    margin-bottom: 70px;
    border-radius: 10px;
    position: relative;
}
div.product-container {
    padding: 55px;
}
h2.product-header {
    color: #0066B3;
}
h5.product-header {
    font-size: 17px;
    color: #0066B3;
    font-weight: bold;
}
div.sub-product {
    border:solid #0066B3 1px;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:20px;
}
div.sub-product-header {
    background-color:#0066B3;
    min-height:50px;
    width:100%;
    display:table;
}
h4.sub-product-header {
    margin: 0 auto;
    color:white;
    display:table-cell;
    vertical-align:middle;
}
div.sub-product-content {
    word-wrap: break-word;
    padding:10px;
}
div.row-product-info {
    margin-bottom:20px;
}
div.left-nav-menu {
    position: fixed;
    top:50%;
    transform: translateY(-50%);
}
ul.left-nav-menu {
    font-size: 16px;
    line-height: 50px;
    padding: 0;
    list-style-type: none;
}
.zoomimg {
    transition: all .2s ease;
}
.zoomimg:hover {
    -webkit-transform: scale(1.2);
}
a.left-nav-menu {
    text-decoration: none; 
    font-family = "Open Sans";
}
a.left-nav-menu-disabled {
    color:gray;
}
p.product-info {
    font-size: 15px;
}
.navbar-default {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}